/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.gitattributes
app/Http/Controllers/GitController.php
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
config/database.php
/storage/games
laravel-echo-server.json